.spinner {
  border: 4px solid #BFD8FF;
  border-left-color: #8EBAFE;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
